@{
    ViewBag.Title = "Contacts";
}
<h2>@ViewBag.Title</h2>
<h3>Any questions?</h3>

<address>
    Daniil Evsienko,<br />
    Saratov, Russia, <br/>
    <abbr title="Phone">Phone:</abbr>
    +7 961 64 979 64
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:daniil_evsienko@mail.ru">daniil_evsienko@mail.ru</a>
</address>