@{
    ViewBag.Title = "Дэшборд";
}

@section scripts {

    <script>
        function onDashboardLoaded() {
            ////$(".dashboard-frame").contents().find(".sidebar").attr("style", "display:none;");

            //var frm = frames[0].document;
            //var otherhead = frm.getElementsByTagName("head")[0];
            //var link = frm.createElement("link");
            //link.setAttribute("rel", "stylesheet");
            //link.setAttribute("type", "text/css");
            //link.setAttribute("href", "Content/site.css");
            //otherhead.appendChild(link);
            console.log('iframe loaded');
        }
    </script>

}

<h2 class="page-header">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div class="iframe-fix"><div>
</div></div>

<iframe src="http://localhost:8888/sources/1/dashboards" class="dashboard-frame" onload="onDashboardLoaded(this)" 
        id="dashboard-frame">
</iframe>