<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="log4net.Config" value="log4net.config" />
      <add key="log4net.Config.Watch" value="True" />
      <add key="log4net.Internal.Debug" value="true" />

      <add key="AppName" value="Atrinova.Utilli.WebApi" />
      <add key="PoolName" value="utilli-web-api" />
      <add key="ReadingInterval" value="400" />
      <add key="DbAddress" value="http://localhost:8086" />
      <add key="DbName" value="mydb" />
      <add key="IisLogPath" value="C:\inetpub\logs\LogFiles\W3SVC1\u_ex180214.log" />
      <add key="ServerPort" value="4545" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>