@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Непредвиденная ошибка</h1>
<h2 class="text-danger">
    На сервере произошла непредвиденная ошикба. Пожалуйста повторите свое действие позже, 
    либо свяжитесь с администратором системы.
</h2>

