@model WebApiMonitor.Administrator.Models.UsersViewModel
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Управление пользователями";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
@{
    if (Model.Users.Count > 0)
    {
        <h4>Пользователи</h4>
            <table class="table">
                <tbody>
                    @foreach (var login in Model.Users)
                    {
                        <tr>
                            <td>@login.UserName</td>
                            <td style="text-align: right;">
                                @using (Html.BeginForm("RemoveLogin", "Manage"))
                                {
                                @Html.AntiForgeryToken()
                                <div>
                                    <input type="submit" class="btn btn-default" value="Удалить" />
                                </div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
    }
    else 
    {
        <span>Список пользователей пуст</span>
    }
}
