@model WebApiInsight.Administrator.Models.AgentSettingsModel
@{
    ViewBag.Title = "Настройки агента #" + ViewBag.AgentId;
}

@section scripts {
    <script src="../../Content/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        $(function () {
            var editor = ace.edit("editor");
            editor.session.setMode("ace/mode/json");
            editor.getSession().setTabSize(2);
            editor.getSession().setUseWrapMode(true);
        })
    </script>
}

<h2 class="page-header">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-xs-12">
        @*<div class="alert alert-info">
            <strong>Изменения успешно сохранены.</strong>.
        </div>*@
        <div class="job-snippet">
            <div class="job-snippet-code">
<div id="editor">@Model.JsonConfig</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="job-snippet-properties">
            <dl>
                <dt>Сервер</dt>
                <dd><pre><code>127.0.0.1</code></pre></dd>
                <dt>Статус</dt>
                <dd><pre><code>запущен</code></pre></dd>
                <dt>Добавлен</dt>
                <dd><pre><code>22.05.2018</code></pre></dd>
            </dl>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>
            <span class="job-snippet-buttons pull-right">
                <button class="btn btn-sm btn-default" data-ajax="/wgl/hangfire/jobs/actions/requeue/1291237" data-loading-text="Enqueueing...">
                    Обновить
                </button>
                <button class="btn btn-sm btn-death" data-ajax="/wgl/hangfire/jobs/actions/delete/1291237" data-loading-text="Deleting..." data-confirm="Do you really want to delete this job?">
                    Удалить
                </button>
            </span>
        </h3>

    </div>
</div>