@{
    ViewBag.Title = "Настройки агента " + ViewBag.AgentId;
}

@section scripts {


}

<h2 class="page-header">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div class="row">

    <div class="col-md-9">

        @*<div class="alert alert-info">
            <strong>Изменения успешно сохранены.</strong>.
        </div>*@
        <div class="job-snippet">
            <div class="job-snippet-code">
                <pre><code>{
    "Id":"e824f67c-ee39-4f5d-9dd3-f82a8f4e485c",
    "UserName":"daniil_evsienko@mail.ru",
    "Email":"daniil_evsienko@mail.ru",
    "Password":null,
    "PasswordHash":"QtUgBDikSnL9CmKgSmILs1v8spk=",
    "PasswordSalt":"nHfKIkC7Gb7FsAhA3GaTEw==",
    "LockoutEnabled":false,
    "AccessFailedCount":0
}</code></pre>
            </div>
            <div style="height: 15px;">
                <h3>
                    <span class="job-snippet-buttons pull-right">
                        <button class="btn btn-sm btn-death" data-ajax="/wgl/hangfire/jobs/actions/delete/1291237" data-loading-text="Deleting..." data-confirm="Do you really want to delete this job?">
                            Редактировать
                        </button>
                    </span>
                </h3>
            </div>


            <div class="job-snippet-properties">
                <dl>
                    <dt>Сервер</dt>
                    <dd><pre><code>127.0.0.1</code></pre></dd>
                    <dt>Статус</dt>
                    <dd><pre><code>запущен</code></pre></dd>
                    <dt>Добавлен</dt>
                    <dd><pre><code>22.05.2018</code></pre></dd>
                </dl>
            </div>
        </div>
        <h3>
            <span class="job-snippet-buttons pull-right">
                <button class="btn btn-sm btn-default" data-ajax="/wgl/hangfire/jobs/actions/requeue/1291237" data-loading-text="Enqueueing...">
                    Обновить
                </button>
                <button class="btn btn-sm btn-death" data-ajax="/wgl/hangfire/jobs/actions/delete/1291237" data-loading-text="Deleting..." data-confirm="Do you really want to delete this job?">
                    Удалить
                </button>
            </span>
        </h3>
    </div>
</div>