<ul class="nav navbar-nav">
    <li>
        <a href="/">Дэшборд</a>
    </li>
    <li>
        <a href="/Agents">Агенты <span data-metric="servers:count" class="metric metric-default">@ViewBag.AgentsCount</span></a>
    </li>
    <li>
        <a href="/Manage/Users">Пользователи</a>
    </li>
    <li>
        <a href="/Home/Contact">Контакты</a>
    </li>
</ul>