<ul class="nav navbar-nav">
    <li>
        <a href="~/">Dashboard</a>
    </li>
    <li>
        <a href="~/Agents">Agents <span data-metric="servers:count" class="metric metric-default">@ViewBag.AgentsCount</span></a>
    </li>
    <li>
        <a href="~/Manage/Users">Users</a>
    </li>
    <li>
        <a href="~/Home/Contact">Contacts</a>
    </li>
</ul>