@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>
<h3>Возникли проблемы или вопросы?</h3>

<address>
    г. Саратов, <br />
    ул. Политехническая, д. 77, к. 1<br />
    <abbr title="Phone">P:</abbr>
    +7 999 999 9999
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:daniil_evsienko@mail.ru">daniil_evsienko@mail.ru</a>
</address>